<i ng-click="itemExpended(item, $event);" class="{{getItemIcon(item)}} treeIcon"></i>
<i ng-class="item.$$isChecked?'icon-checkbox-checked':'icon-checkbox-unchecked'"
   ng-if="selectType!='none'&&item._id!='-1'" ng-click="itemCheckedChanged(item, $event)"></i>
<i ng-class="getTreeItemIcon(item)" ng-if="getTreeItemIcon(item)!=null"></i>
<span class='title'
      ng-class="$$selectedId==item._id?'selected':''"
      ng-click="itemClicked(item, $event);"
      title="{{item[textField]}}"
      ng-bind="item[textField]"></span>
<ul ng-if="!isLeaf(item)" ng-show="item.$$isExpend">
    <li ng-repeat="item in item.children" ng-include="'/temp/treeItem.html'" class="textNowrap"></li>
</ul>