/*大模块(多行)*/
.form_section .sectionMain {
    margin: 10px 0 0;
    /*width: 100%;*/
    background: #fff;
    overflow: hidden;
}

/*商家开店时间*/
.form_section .sectionMain2 {
    width: 80%;
    margin: 10px auto;
}

.form_section .sectionMain3 {
    overflow: hidden;
    /*height:260px;*/
    background: #fff;
    text-align: center;
}

.form_section .sectionMain4 {
    overflow: hidden;
    width: 95%;
    margin: 10px auto;
    background: #fff;
    border-radius: 10px;
}

/*大模块:有边距*/
.form_section .BtnMain {
    margin: 10px 0 0;
    /*width: 100%;*/
    overflow: hidden;
}

/*大模块:没有边距*/
.form_section .sectionMainNotMargin {
    margin: 0;
}

/*大模块:普通的行*/
.form_section .mainRow {
    position: relative;
    border-bottom: 1px solid #eee;
    width: calc(100% - 5px);
    margin-left: 5px;
    overflow: hidden;
    min-height: 50px;
}

.form_section .mainRowEvent {
    position: relative;
    width: calc(100% - 5px);
    margin-left: 5px;
    overflow: hidden;

}

/*大模块:普通的行:最后一行没有下边框*/
.form_section .mainRow:last-child, .form_section .mainRowLast, .form_section .mainRowNotBorderBottom {
    border-bottom: none;
}

/*大模块:普通的行:最后一行有下边距*/
.form_section .mainRowLast {
    margin-bottom: 10px;
}

/*行:左侧,提示文本*/
.form_section .mainRowLeft {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    line-height: 60px;
    font-size: 20px;
}

/*大模块:图片*/
.form_section .sectionMainImg {
    height: 250px;
}

.form_section .sectionMainImg > img {
    height: 100%;
    margin: 0 auto;
    display: block;
}

/*大模块:占据一行的子标题的行*/
.form_section .mainRowTitle {
    width: calc(98% - 10px);
    margin-left: calc(2% + 10px);
    height: 40px;
    line-height: 40px;
}

.form_section .mainRowTitlePay {
    height: 40px;
    line-height: 40px;
}

/*.form_section .mainRowTitleEvent {*/
/*float: left;*/
/*}*/

.form_section .rowTitleEvent {
    line-height: 40px;
    padding-left: 5px;
    float: left;
    font-size: 15px;
}

/*行:行的子标题*/
.form_section .rowTitle {
    height: 50px;
    line-height: 50px;
    margin-left: 10px;
    /*color: #777;*/
    position: absolute;
}

.rowTitleBtn img {
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
}

.form_section .mainRowTitleStore {
    width: calc(98% - 10px);
    margin-left: calc(2% + 10px);
    height: 40px;
    line-height: 50px;
    font-size: 16px;
}

/*大模块:选择框时的行*/
.form_section .rowInputCheckMain {
    overflow: hidden;
    width: 200px;
    margin: 0 auto;
}

/*大模块的行:选择框时的行:选择框模块*/
.form_section .rowInputCheck {
    margin-left: 50px;
    height: 50px;
    line-height: 50px;
    float: left;
}

/*大模块的行:选择框时的行:第一个选择框模块:没有边框*/
.form_section .rowInputCheck:first-child {
    margin-left: 0;
}

/*大模块的行:选择框时的行:选择框模块:选择框*/
.form_section .rowInputCheck > span {
    color: #ff9d06;
    margin-right: 10px;
}

/*行:行的输入框*/
.form_section .rowInput {
    line-height: 50px;
    margin-left: 80px;
    margin-right: 50px;
}

/*行:行的子标题*/
.form_section .rowTitle {
    height: 50px;
    line-height: 50px;
    margin-left: 10px;
    color: #777;
    position: absolute;
}

.form_section .rowTitle2 {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 16px;
}

.form_section .rowTitle3 {
    position: absolute;
    top: 0;
    left: 10px;
    width: 70px;
    height: 50px;
    line-height: 50px;
    text-align-last: justify;
}

/*行:行的子标题:短*/
.form_section .rowTitleShort {
    width: calc(100% - 70px);
}

/*行:输入框:无边框*/
.form_section .rowInput {
    position: relative;
    width: calc(100% - 130px);
    /* color: #888; */
    background: none;
    outline: none;
    border: none;
    /*padding: 0;*/
    line-height: 25px;
    padding: 14px 0;
    /*font-size: 16px;*/
}

.form_section .rowInput2 {
    width: 60px;
    height: 30px;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}

.form_section .rowInput3 {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    text-indent: 20px;
}

/*输入框:无边框:无内边距*/
.form_section .rowInputSI {
    padding: 0 4px;
}

.form_section .rowInputEvent {
    width: calc(100% - 120px);
    float: left;
    line-height: 40px;
    padding-left: 10px;
    font-size: 15px;
    color: #666;
}

/*行:输入框:短,无边框*/
.form_section .rowInputShort {
    width: calc(100% - 205px);
}
/*提交按钮(默认红色)*/
.form_section .submitBtn {
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #138bbe;
    width: 80%;
    height: 45px;
    margin: 20px auto;
    font-size: 18px;
    color: #fff;
}

/*行:输入框:有边框*/
.form_section .inputBorder {
    width: 40%;
    text-align: center;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
}

/*行:输入框:有边框禁用状态*/
/*.form_section .inputBorder[disabled='disabled'] {*/
/*border: none;*/
/*border-radius: 0;*/
/*border-bottom: 1px solid #ccc;*/
/*}*/

/*行:多行文本*/
.form_section .rowTextarea {
    width: 100%;
    height: 150px;
    resize: none;
    outline: none;
    border-radius: 0;
}
.form_section .rowTextarea2 {
    height: 150px;
    resize: none;
    outline: none;
    border-radius: 0;
    margin-left: 100px;
    position: relative;
    width: calc(100% - 105px);
    margin-top: 7px;
}

/*行:右侧按钮,提示文本*/
.form_section .mainRowRight {
    position: absolute;
    top: 0;
    right: 15px;
    line-height: 50px;
    color: #999;
}

/*行:右侧提示文本*/
.form_section .mainRowRightErrorText {
    right: 40px;
}

/*行:右侧:发送短信*/
.form_section .sendMessage {
    top: 13px;
    color: #999;
    line-height: 17px;
    font-size: 11px;
    border-radius: 3px;
    background: #f2f2f2;
    padding: 3px 5px;
}

/*行:右侧绿色按钮*/
.form_section .mainRowRightGreenBtn {
    border: 1px solid #80E585;
    border-radius: 3px;
    color: #aaa;
    height: 36px;
    line-height: 36px;
    margin-top: 7px;
    padding: 0 5px;
}

/*行:选择框的行*/
.form_section .mainRowSelect {
    float: right;
    color: #aaa;
    text-indent: 10px;
    border-bottom: 1px solid #eee;
}

/*行:下拉框的行*/
.form_section .mainRowSelectOption {
    width: 70%;
    line-height: 50px;
}

/*行:下拉框的行:已选择的下拉框勾选样式*/
.form_section .mainRowSelected {
    margin-left: 20px;
    color: green;
    font-size: 20px;
}

/*提交按钮(默认蓝色)*/
.form_section .submitBtn {
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #138bbe;
    width: 80%;
    height: 45px;
    margin: 20px auto;
    font-size: 18px;
    color: #fff;
}

/*提交按钮:蓝色*/
.form_section .submitBtnBlue {
    background: #138bbe;
    color: #fff;
}

/*提交按钮:禁用状态*/
.form_section .submitBtn[disabled='disabled'] {
    color: #888;
    background: -ms-linear-gradient(top, #F2F2F2, #DFDFDF); /* IE 10 */
    background: -moz-linear-gradient(top, #F2F2F2, #DFDFDF); /*火狐*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F2F2F2), to(#DFDFDF)); /*谷歌*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F2F2F2), to(#DFDFDF)); /* Safari 4-5, Chrome 1-9*/
    background: -webkit-linear-gradient(top, #F2F2F2, #DFDFDF); /*Safari5.1 Chrome 10+*/
    background: -o-linear-gradient(top, #F2F2F2, #DFDFDF);
}

/*提交按钮:无边距*/
.form_section .submitBtnNotMargin {
    margin: 0 auto;
}

/*提交按钮:占据一行空白提交按钮*/
.form_section .submitBtnTextCenter {
    text-align: center;
    height: 50px;
    line-height: 50px;
}

/*底部(找回密码,记住密码)*/
.form_section .mainBottom {
    /*width:90%;*/
    padding: 0 20px;
    margin: 30px auto;
}

/*底部(商家_设置)*/
.form_section .mainBtn {
    /*width:90%;*/
    padding: 0 20px;
    margin: 30px auto;
}

/*左对齐*/
.form_section .floatLeft {
    font-size: 14px;
    float: left;
}

/*右对齐*/
.form_section .floatRight {
    float: right;
}

/*95%的宽度*/
.form_section .rowWidth95 {
    width: 95%;
}

/*70%的宽度*/
.form_section .rowWidth70 {
    width: calc(70% - 10px);
}

/*记住密码文本*/
.form_section .mainBottom .floatRight .rememberPwdLabel {
    font-size: 14px;
    margin-left: 5px;
}

/*底部fiex定位按钮的模块*/
.form_section .fixedBottom {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
}

/*底部fiex定位按钮*/
.form_section .fixedBottomBtn {
    flex: 1;
    text-align: center;
    color: #fff;
    height: 50px;
    line-height: 50px;
}

/*大模块:遮罩*/
.form_section .hideMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 4;
}

/*大模块:登陆错误面板*/
.form_section .errorMain {
    width: 70%;
    height: 100px;
    background: #F9F9F9;
    border-radius: 10px;
    margin: 50% auto 0;
}

/*大模块:更多分享面板*/
.form_section .otherMain {
    height: 145px;
    position: relative;
}

/*登陆错误模块:行*/
.form_section .errorMain .errorMainRow {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
}

/*更多分享模块:行*/
.form_section .otherMain .otherMainRow {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.otherMainRow > div {
    float: left;
    font-size: 28px;
    width: 25%;
    line-height: 50px;
    border-bottom: 1px solid #eee;
}

/*登陆错误模块:错误提示信息*/
.form_section .errorMain .errorMainRow:first-child {
    border-bottom: 1px solid #ddd;
}

/*登陆错误模块:确认按钮*/
.form_section .errorMain .errorMainRow div:first-child {
    border-right: 1px solid #ddd;
}

/*登陆错误模块:按钮*/
.form_section .errorMain .errorMainRow div {
    width: 50%;
    float: left;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
}

/*大模块:我的钱包*/
.form_section .sectionWallet {
    display: flex;
    padding: 10px 0;
}

/*我的钱包:左右两部分*/
.form_section .sectionWalletRow {
    box-sizing: border-box;
    display: inline-block;
    flex: 1;
    height: 70px;
    /*border-right: 1px solid #eee;*/
}

/*我的钱包:最后一个无左边框*/
/*.form_section .sectionWalletRow:last-child {*/
    /*border: none;*/
/*}*/

/*我的钱包:左右两部分:每一行*/
.form_section .sectionWalletRow > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    line-height: 35px;
    color: #138bbe;
}

/*我的钱包:左右两部分:每一行:每一个文本*/
.form_section .sectionWalletRow > div > span {
    text-align: center;
    padding: 0 5px;
    color: #138bbe;
    font-size: 30px;
}

/*小模块:多个按钮(充值金额按钮)*/
.form_section .mainRowBtnList {
    overflow: hidden;
    padding-bottom: 10px;
}

/*收货地址页面:收货删除和修改按钮*/
.form_section .addressModifyBtn {
    float: left;
    width: 15%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
}

/*小模块:每一个按钮*/
.form_section .mainRowBtnList > button {
    float: left;
    display: inline-block;
    margin: 5px 5%;
    width: 22%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background: #6CC7FE;
    border-radius: 3px;
}

/*商品类型选择菜单*/
.form_section .hideCommodityMenu {
    position: fixed;
    bottom: 50px;
    width: 100%;
    height: 60%;
    background: #fff;
    overflow: auto;
}

/*黑色半透明遮罩*/
.form_section .hideTransparent {
    position: fixed;
    top: 0;
    width: 100%;
    height: calc(40% - 50px);
}

/*商品类型选择按钮的容器*/
.form_section .commodityBtnList {
    padding-bottom: 10px;
}

/*商品类型选择按钮*/
.form_section .commodityBtnListBtn {
    float: left;
    margin: 5px 10px;
    width: 70px;
    height: 35px;
    line-height: 35px;
    background: #eee;
    border-radius: 5px;
    text-align: center;
}

.form_section .commodityBtnListBtn[disabled="disabled"] {
    color: #aaa;
    background-color: #f0f0f0;
}

/*购买按钮*/
.form_section .hideCommodityBtn {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
}

.form_section .hideCommodityBtn[disabled="disabled"] {
    color: #888;
    background: -ms-linear-gradient(top, #F2F2F2, #DFDFDF); /* IE 10 */
    background: -moz-linear-gradient(top, #F2F2F2, #DFDFDF); /*火狐*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F2F2F2), to(#DFDFDF)); /*谷歌*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F2F2F2), to(#DFDFDF)); /* Safari 4-5, Chrome 1-9*/
    background: -webkit-linear-gradient(top, #F2F2F2, #DFDFDF); /*Safari5.1 Chrome 10+*/
    background: -o-linear-gradient(top, #F2F2F2, #DFDFDF);
}

/*商品类型选择按钮:未选择按钮*/
.form_section .itemNormal {
    background-color: #eee;
    color: #666;
}

/*商品类型选择按钮:选择按钮*/
.form_section .itemNormal.selected {
    background-color: #268BBF;
    color: #fff !important;
}

/*商品页面:购买数量*/
.form_section .commodityMenuRight {
    float: right;
    margin-right: 10px;
}

/*购买数量按钮*/
.form_section .commodityMenuRight > div {
    float: left;
    margin: 10px 1px;
    height: 25px;
    line-height: 25px;
    background: #F2F2F2;
    color: #888;
    text-align: center;
}

/*加减按钮*/
.form_section .commodityBtn {
    width: 25px;
    font-size: 20px;
}

/*显示数字*/
.form_section .resultsNum {
    width: 60px;
}

/*养老金*/
.form_section .pensionMain {
    width: 100%;
    height: 220px;
    background: url('/yzxfSeller_page/img/yanglaojinLogo.png') no-repeat center center;
    background-size: auto 85%;
    overflow: hidden;
}

/*方形按钮*/
/*方形按钮*/
.form_section .squareBtn {
    display: inline-block;
    background: #eee;
    padding: 5px 10px
}

/*清除按钮*/
.form_section .redClear {
    position: absolute;
    top: 15px;
    right: 20%;
    color: #268BBF;
    font-size: 25px;
}

/*选择城市*/
.form_section .sectionLocation {
    display: flex;
    width: 100%;
    position: fixed;
    height: 100%;
}

/*选择城市:列*/
.form_section .colsLocation {
    flex: 1;
    height: calc(100% - 45px);
    overflow: auto;
    overflow-y: scroll;
}

/*选择城市:行(外层)*/
.form_section .rowLocation {
    height: 50px;
    line-height: 50px;
    padding: 5px 0;
}

/*选择城市:行(内层)*/
.form_section .rowLocation > div {
    height: 40px;
    line-height: 40px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*选择城市:第一列:已选择行样式*/
.form_section .locationSelected {
    border-left: 3px solid #268BBF;
    color: #268BBF;
    text-indent: -3px;
}

.form_section .accountsRow1 {
    width: 90%;
    margin: 0 auto;
}

.form_section .accountsRow1 > div {
    float: left;
    width: 50%;
    text-align: right;
}

.form_section .accountsRow3 > div {
    float: left;
    width: 50%;
    height: 150px;
    line-height: 150px;
    text-align: center;
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: center center;
}

/*发卡页面顶部大背景*/
.form_section .TitleHead {
    height: 300px;
    overflow: hidden;
    background: #55a6ff;
}

/*页面顶部总资产*/
.form_section .titleMoney {
    text-align: center;
    display: block;
    padding-top: 20px;
}

/*活动页面*/
.form_section .eventDiv {
    position: relative;
}

/*交易查询 _ 查询框*/
.form_section .sellerQuery {
    display: block;
    border-radius: 33px;
    width: 90%;
    height: 50px;
    line-height: 50px;
    background: #fff;
    margin: 7px auto;
}

/*编辑按钮*/
.form_section .modifyBtnEvent {
    position: absolute;
    bottom: 15px;
    right: 10px;
    background: #aaa;
    padding: 0 10px;
    border-radius: 10px;
    color: #fff;
}

/*行2:行内两个div居中*/
.form_section .mainRow2 {
    height: 40px;
    line-height: 40px;
    display: flex;
}

.form_section .mainRow2 > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    flex: 1;
}

.form_section .mainRow2 > div:first-child {
    text-align: right;
}

/*活动结束按钮(默认红色)*/
.form_section .submitBtnEvent {
    display: block;
    border-radius: 30px;
    width: 45%;
    height: 35px;
    margin: 10px auto;
    font-size: 15px;
    color: #fff;
}

/*活动状态三角形*/
/*小*/
.form_section .triangleEventSmall {
    border-left: 26px solid transparent;
    border-top: 28px solid #fff;
    position: absolute;
    right: 0;
    top: 0;
}

.form_section .triangleEventBig {
    border-left: 82px solid transparent;

    position: absolute;
    right: 0;
    top: 0;
}

.form_section .triangleEventBigCheck {
    border-top: 84px solid #aaa;
}

.form_section .triangleEventText {
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: 3;
    color: #fff;
    transform: rotate(47deg);
}

/*优惠购买页面的椭圆*/
.form_section .payTuoyuan {
    width: 130%;
    height: 120px;
    border-radius: 50%;
    position: relative;
    top: 5px;
    left: -15%;
}

/*优惠购买页面2维码*/
.form_section .pay2DCodeDiv {
    width: 100%;
    margin-top: 10px;
}

/*二维码*/
.form_section .pay2DCodeDivImg {
    text-align: center;
    padding-bottom: 5px;
}

/*商家简介*/
.form_section .textAreaMargin {
    margin: 5px 2.5%;
    width: 95%;
}

/*店铺页面温馨提示*/
.form_section .otherMainRow > img {
    position: absolute;
    width: 105%;
    top: -18px;
    left: -2.5%;
}

.form_section .otherMainRow > span {
    text-align: center;
    display: block;
    padding-top: 8px;
}

.form_section .remindIcon {
    transform: rotate(47deg);
    position: relative;
    right: -250px;
    top: 285px;
}

/*商家关闭按钮*/
.form_section .closeStoreBtn {
    position: absolute;
    top: -40px;
    right: -10px;
    color: #fff;
    font-size: 28px;
}

/*商家登陆页面*/
.form_section .loginBk {
    background: url('/yzxfSeller_page/img/loginBK.png') no-repeat center center;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 750px;
}
.form_section .loginBk>div:first-child{
    position: absolute;
    width: 100%;
    bottom: 15%;
}
.form_section .loginBk>div:last-child{
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    color: #aaa;
    font-size: 12px;
}

.form_section .loginLogo {
    width: 45%;
    display: block;
    margin: 20px auto;
}

/*登陆:行*/
.form_section .loginRow {
    display: block;
    width: 70%;
    height: 40px;
    line-height: 40px;
    border: 1px solid #138bbe;
    border-radius: 30px;
    margin: 0 auto 20px;
}

/*登陆:行:图标*/
.form_section .loginIcon {
    color: #138bbe;
    font-size: 20px;
    display: inline-block;
    margin-left: 20px;
}

/*登陆:行:输入框*/
.form_section .loginInput {
    background: none;
    height: 34px;
    line-height: 35px;
    outline: none;
    width: calc(100% - 70px);
    color: #138bbe;
    padding: 0;
}

.form_section .loginInput::-webkit-input-placeholder {
    color:#138bbe!important;
}

/*登陆:按钮*/
.form_section .loginSubmitBtn {
    text-align: center;
    border: none;
    background: #138bbe;
    color: #fff;
    font-size: 16px;
}

/*选择星期按钮:一行两个按钮*/
.form_section .row2Btn {
    float: left;
    width: 45%;
    height: 50px;
    line-height: 50px;
    background: #fff;
    color: #333;
    border-radius: 5px;
    margin: 5px 0;
    text-align: center;
}

.form_section .row2Btn:nth-child(even) {
    margin-left: 10%;
}

.form_section .row2BtnSelected {
    background: #111727;
    color: #eee;
}

.form_section .loadingClass {
    text-align: center;
    font-size: 19px;
    padding-top: 100%;
    color: #fff;
}

/*养老金消费记录*/
.form_section .consumptionMain {
    margin-bottom: 10px;
    background: #fff;
    overflow: hidden;
}

/*养老金消费记录:行*/
.form_section .consumptionRow {
    width: 100%;
    overflow: hidden;
}

.form_section .consumptionRow > span {
    float: left;
    height: 40px;
    line-height: 40px;
}

/*养老金消费记录:行:标题*/
.form_section .consumptionRowTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666;
    /*width: calc(100% - 200px);*/
    padding-left: 10px;
}

.form_section .consumptionRowRight {
    float: right;
    height: 40px;
    line-height: 40px;
    padding-right: 10px;
    color: #aaa;
}

/*方形按钮2*/
.form_section .squareBtn2 {
    display: inline-block;
    /*background: #eee;*/
    padding: 2.5% 5%;
    font-size: 25px;
}

.form_section .squareBtn3 {
    padding: 5px 30px;
    background: #eee;
    font-size: 20px;
}

/*绿色确认图标*/
.form_section .iconGreen {
    text-align: center;
    font-size: 100px;
    color: #30b500;
    padding-top: 50px;
}

.rightMore {
    float: right;
    width: 15%;
    line-height: 50px;
    color: #777;
    text-align: right;
}

.queryTitle {
    width: 100%;
    padding: 5px 5px;
    position: relative;
}

.queryTitle div {
    color: #aaa;
}

.queryTitle input {
    margin-left: 80px;
    width: 70%;
}

.queryTitle > .flTitle {
    float: left;
    width: 50%;
    text-align: center;
}

.queryTitle > .frTitle {
    float: right;
    width: 50%;
    text-align: center;
}

.queryTitle > .flTitle button, .queryTitle > .frTitle button {
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #268BBF;
    width: 80%;
    height: 45px;
    margin: 0 auto;
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
}

.queryTitle > div > .squareBtn {
    background-color: #fff;
    margin-left: 14px;
}

.form_section .rowFlex {
    display: flex;
    flex-wrap: wrap;
}

/*.rowTitle>img{*/
/*vertical-align: middle;*/
/*border-right: 1px solid #EAEAEA;*/
/*padding-right: 10px;*/
/*width: 45px;*/
/*}*/

.cardIssuingInput {
    line-height: 30px;
    padding: 0 0 0 10px;
    height: 50px;
    font-size: 16px;
}

.cardIssuingButton {
    padding: 0 20px;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    width: 60%;
    -webkit-font-smoothing: antialiased;
}

.cardIssuingButton2DCode {
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #2C9EE1;
    color: #fff;
    font-size: 16px;
    width: 90px;
    -webkit-font-smoothing: antialiased;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #BCBCBC;
    -webkit-font-smoothing: antialiased;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #eee;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #eee;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #eee;
}

.clickIcon {
    line-height: 50px;
    float: right;
    position: relative;
    margin-right: 5px;
    color: #BCBCBC;
    font-size: 20px;
}

.coverDiv {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    top: 0;
}

.enterPswDiv {
    display: none;
    position: fixed;
    width: 100%;
    max-width: 500px;
    text-align: center;
    top: 0;
    margin-top: 35%;
}

.enterPsw {
    position: relative;
    width: 80%;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    margin: 40% auto 0;
    text-align: center;
    max-width: 450px;
}

.selectDiv {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.selectDiv div {
    width: 50%;
    border: 1px solid #eee;
    float: left;
    font-size: 20px;
    padding: 5px 0;
}

.enterInput {
    display: inline-block;
    margin-top: 20px;
}

.enterInput input {
    width: 40px;
    height: 40px;
    float: left;
    border: 1px solid #888;
    border-left: none;
    border-radius: 0;
    font-size: 22px;
    padding-left: 13px;
    padding-right: 13px;
}

.enterInput input:first-child {
    border-left: 1px solid #888;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.enterInput input:last-child {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.enterInputDes {
    margin-top: 20px;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
}

.form_section .iconImg7 {
    border-radius: 5px;
    width: 80%;
    border: 1px solid #eee;
    margin: 10px auto;
    display: block;
}



.form_section .rowBox {
    border: 1px dashed #ccc;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin: 10px;
    text-align: center;
    color: #aaa;
    float: left;
}
/*正方圆角框*/
.form_section .iconImg4 {
    border-radius: 5px;
    width: 60px;
    height: 60px;
    margin: 10px;
    float: left;
    border: 1px solid #eee;
}

/*红色关闭按钮*/
.form_section .iconImg5 {
    position: absolute;
    left: 55px;
    font-size: 30PX;
    color: #ff626b;
    background: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 23px;
    text-indent: -2px;
}

.winCon {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 21;
    overflow: auto;
}
/*营业星期*/
.selectWeek{
    position:relative;
    width: 200px;
    margin: 100px auto;
    background: #fff;
    border-radius: 10px;
}
.selectWeek .contentTitle2{
    height: 40px;
    line-height: 40px;
    background: #138bbe;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
}
.selectWeek .contentText1{
    position:relative;
}
.selectWeek .contentText1 *{
    height:30px;
    line-height:30px;
    padding-left:30px;
}
.selectWeek .contentText1>div:last-child{
    position:absolute;
    top:0;
    right:10px;
    padding:0;
    color:#138bbe;
}
.selectWeek .close{
    position: absolute;
    right: 5px;
    top: 0;
    height: 30px;
    transform: rotate(45deg);
    padding: 4px 0;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
.selectWeek .contentBtn{
    /*background: #1480B7;*/
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow:hidden;
    border-top: 1px solid #fff;
}
.selectWeek .contentBtn>div{
    float:left;
    color:#fff;
    width:50%;
    height: 40px;
    line-height: 40px;
    text-align:center;
}


.btn2{
    width: 150px;
    margin: 0 auto;
    overflow: hidden;
}
.btn2>div{
    float:left;
    width:50%;
    text-align:center;
    height: 50px;
    line-height: 50px;
}

.rowText1{
    position: absolute;
    bottom: 0;
    color: #fff;
    padding: 10px;
    font-size: 12px;
    width: 100%;
    text-align: center;
}

.form_section .iconImgText1{
    font-size: 70px;
    margin: 0 auto;
    text-align: center;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    color: #fff;
    transition:0.5s all;
}
.form_section .btnText1{
    text-align: center;
    color: #666;
    position: absolute;
    bottom: 30px;
    width: 100%;
}
.form_section .btnText2{
    text-align: center;
    font-size: 20px;
    margin: 20px 0;
}

.form_section .winCon-spec{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:auto;
    background:#fff;
    z-index: 1;
}

.form_section .winCon-title{
    height: 50px;
    line-height:50px;
    background: #138bbe;
    text-align:center;
    color:#fff;
    font-size: 16px;
}

.form_section .winCon-title>input{
    display: block;
    width: 60%;
    margin: 0 auto;
    background: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    text-align: center;
    color: #fff;
    font-size: 16px;
    outline: none;
}
.form_section .winCon-title>input::-webkit-input-placeholder { /* WebKit browsers */
    color:#fff;
}
.form_section .winCon-title>input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#fff;
}
.form_section .winCon-title>input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#fff;
}
.form_section .winCon-title>input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#fff;
}

.form_section .winCon-table{
    border-collapse: collapse;
    margin: 0 auto 50px;
    width: 80%;
    text-align: center;
}
.form_section .titleTr1{
    background: #139bce;
    color: #fff;
}
.form_section .titleTr1 td{
    color:#fff;
}
.form_section .titleTr1 td:first-child{
    border-top-left-radius: 5px;
}
.form_section .titleTr1 td:last-child{
    border-top-right-radius: 5px;
}
.form_section .winCon-table tr{
    position:relative;
    height: 40px;
    border-bottom: 1px solid #138bbe;
}
.form_section .winCon-table tr:first-child{
    border-bottom: none;
}
.form_section .winCon-table td{
    width:50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition:0.5s all;
}

.form_section .winCon-table td input{
    width: 100%;
    background: none;
    border-radius: 0;
    outline: none;
    text-align:center;
    transition:0.5s all;
}

.form_section .winCon-table .td-modify{
    box-shadow: 0 0 5px #ff7981 inset;
    text-align:left;
    border-radius: 3px;
}
.form_section .btn1{
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #555;
    border-radius: 5px;
    float: left;
    background: #888;
    color: #fff;
    transition:0.5s all;
    cursor:pointer;
}
.form_section .btn1:hover{
    border: 1px solid #333;
    background: #666;
}
.form_section .winCon-addTr{
    border:none!important;
}
.form_section .winCon-addTr td div{
    border: 1px dashed #ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    color: #aaa;
    cursor:pointer;
    transition:0.5s all;
}
.form_section .winCon-addTr td div:hover{
    border: 1px dashed #888;
    color: #888;
}

.form_section .tableTitle{
    margin: 30px auto 20px;
    display: block;
    border-bottom: 1px dashed #888;
    font-size: 16px;
    text-align:center;
}

.form_section .delModel1{
    position: absolute;
    top: 183px;
    left: 0;
    width: 10%;
}

.form_section .delBtn1{
    width:100%;
    height:40px;
    line-height:40px;
    color: #d05347;
    transition:0.5s all;
    text-align:center;
    font-size:20px;
}

.form_section .delBtn1:hover{
    color: #ff6557;
}

.form_section .titleDel1{
    position: absolute;
    right: 10px;
    top: 0;
    color: #fff;
    height: 50px;
    line-height: 50px;
}

.order-model1{
    background:#fff;
    overflow:hidden;
    margin-bottom: 10px;
}
.order-title1{
    height:30px;
    line-height:30px;
    border-bottom:1px dashed #ccc;
}
.order-title1 div{
    color:#666;
    line-height: 30px;
}
.order-info1{
    position: relative;
    min-height:100px;
    padding:10px;
}
.order-info1>img{
    position: absolute;
    width: 80px;
    /*margin: 10px 10px 10px 5%;*/
}
.order-text1{
    width: calc(100% - 95px);
    margin-left: 100px;
}
.order-menu>button{
    padding:3px 20px;
    margin:5px;
    border:1px solid #999;
    background:#fff;
    color:#666;
    border-radius:5px;
    float:right;
}

.btn-sale1{
    position: absolute;
    right: 10px;
    bottom: 13px;
    color: #888;
}

.logo1{
    display:block;
    margin: -200px auto;
    width: 30%;
    animation:upAnimation 1s;
    animation-iteration-count: 1;
    animation-fill-mode : forwards;
    transition:1s all;
}
@keyframes upAnimation {
    0%{display:block;margin: -200px auto;}
    100%{display:block;margin: 30px auto;}
}
.logo1:hover{
    transform:rotateY(360deg);
}

.mod-ver{
    position:absolute;
    bottom:40px;
    text-align:center;
    width:100%;
    color:#888;
}


/*商家订单*/
.order-header{
    margin-top: 10px;
    background:#fff;
    height:70px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.order-header>div{
    position:relative;
}
.order-header div{
    text-align:center;
}
.order-header>div>div:first-child{
    height: 40px;
    line-height: 40px;
    font-size: 25px;
}
.order-header>div>div:last-child{
    height:20px;
    line-height:20px;
}
.topMenu-tap{
    position: absolute;
    top: 0;
    right: -15%;
    background: rgba(19, 139, 190, 0.7);
    color: #fff;
    font-size: 12px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
}

.page-narrow1{
    width:90%;
    margin:10px auto 0;
}

/*顶部导航菜单*/
.topMenu {
    display: flex;
    background: #fff;
    padding: 10px 0;
    margin: 5px 0;
    border-bottom: 1px solid #eee;
}

/*顶部导航菜单选项按钮*/
.topMenu > div {
    position:relative;
    display: inline-block;
    flex: 1;
}

.topMenu > div > div {
    text-align: center;
}
/*顶部导航菜单选项按钮图标*/
.topMenu > div > div:first-child {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 25px;
}

.topMenu > div > div:last-child {
    font-size: 12px;
    color: #666;
}

.topMenu-tap2{
    position: absolute;
    top: -5px;
    right: 25%;
    background: rgba(19, 139, 190, 0.7);
    font-size: 12px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #138bbe;
    color: #138bbe;
}

.mod-title2{
    overflow:hidden;
    background:#fff;
    border-bottom:1px solid #eee;
    padding:0 10px;
}
.mod-title2,.mod-title2>div{
    height:40px;
    line-height:40px;
    color:#888;
}
.mod-title2>div:first-child{
    font-size:16px;
    color:#666;
}

.mod-panel1{
    background:#3A94F1;
    padding:30px 20px;
    overflow:hidden;
}
.mod-panel1 *,.mod-panel2 *{
    color:#fff;
}
.mod-panel2{
    background:#489BF6;
    height:50px;
    padding: 0 20px;
}
.mod-panel2 *{
    line-height:50px;
    color:#fff;
}

.storeCon{
    background: #fff;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    border-radius: 5px;
}
.storeCon-main{
    overflow:hidden;
    /*border: 1px solid #ccc;*/
}
.storeCon-main .storeCon-title{
    height: 30px;
    line-height: 40px;
}
.storeCon-main>img{
    width: 50px;
    height: 50px;
    float: left;
    border: 1px solid #eee;
    border-radius: 50%;
    margin: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px #ccc;
}
.storeCon-main .storeCon-info{
    float:left;
    overflow:hidden;
    width:calc(100% - 100px)
}
.storeCon-main .storeCon-info>div{
    background: #eee;
    border-radius: 5px;
    color: #888;
    padding: 2px 10px;
    margin: 5px 5px 5px 0;
    float: left;
    box-shadow:0 1px 3px #ccc;
}
.storeCon-main .storeCon-tag>.tag-canUse{
    background: #ff8383;
    color: #fff;
}
.storeCon .storeCon-address{
    line-height: 18px;
    padding: 0 10px;
    word-break: break-all;
    word-wrap: break-word;
    margin: 5px 0;
}
.storeCon .storeCon-date{
    text-align: right;
    padding-right: 10px;
    color: #aaa;
    overflow:hidden;
    height: 30px;
}
