body {
    overflow: auto;
    padding: 90px 0 0 150px
}

#pageLoadingCon {
    top: 85px;
    left: 150px;
    bottom: 0;
    right: 0;
}

.pcCon {
    display: block;
}

.mobileCon {
    display: none;
}

.allCon {
    border: 1px solid #ddd;
    box-shadow: 0 0 3px #ddd;
    height: 800px;
    margin: 20px auto;
    width: 500px;
}

.daohang {
    position: fixed;
    top: 50px;
    left: 150px;
    right: 0;
    border-bottom: 1px solid #ccc;
    height: 35px;
    padding: 5px 5px 0;
    z-index: 3;
    background-color: #fff;
}

.daohang > .item {
    height: 100%;
    border-radius: 6px 6px 0 0;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    min-width: 50px;
    max-width: 120px;
    margin: 0 0 0 2px;
    padding: 2px 24px 2px 4px;
    position: relative;
}

.daohang > .item.no {
    background-color: #fff;
}

.daohang > .item.no:hover {
    background-color: #eee;
}

.daohang > .item.no > span:hover {
    cursor: pointer;
}

.daohang > .item.highL > * {
    color: #fff;
}

.daohang > .item > i {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    font-size: 16px;
    padding: 5px;
}

.daohang > .item > i:hover {
    color: red;
}

.tab-bottom {
    background-color: #293038;
    bottom: 0;
    height: auto;
    left: 0;
    position: fixed;
    top: 50px;
    width: 150px;
    z-index: 4;
}

.tab-bottom > .item.pcCon {
    width: 100%;
    background-color: #293038;
    border: 0;
    padding: 12px 0;
}

.tab-bottom > .item.pcCon > i {
    float: left;
    width: 50px;
    color: #aaa;
}

.tab-bottom > .item.pcCon > div {
    float: left;
    width: 100px;
    text-align: left;
    color: #fff;
}

.tab-bottom > .item.pcCon:hover {
    background-color: #666;
}

.tab-bottom > .item.pcCon.selected:hover, .tab-bottom > .item.pcCon.selected {
    background-color: #43bcf4;
}

.tab-bottom > .item.pcCon.selected > i {
    color: #fff;
}

.tab > .item > i > div.notifi {
    left: 28px;
    top: -10px;
}

.topPageCon {
    bottom: 0;
    right: 0;
    left: 0;
    top: 0px;
    max-width: 1200px;
    margin: auto;

}

.topPageCon.index {
    left: 150px;
    max-width: 1350px;
    padding-left: 150px;
}

.productSelectPc {
    width: 1200px;
}

.productTypeList {
    top: 0;
    position: relative;
    width: 120px;
    border-radius: 3px;
    border: 1px solid #ddd;
    margin: 10px;
    background-color: #fff;
    float: left;
}

.productTypeList > .item, .productTypeList > .item.selected {
    padding-left: 15px;
}

.productTypeList > .item {
    border-top: 1px solid #ccc;
    border-bottom: 0px solid #eee;
}

.productList {
    margin-left: 0px;
    padding: 10px 10px 10px 0;
    width: 1055px;
    margin-top: 0px;
}

.productList.selectProduct {
    float: right;
}

.productList > .item {
    float: left;
    width: 33.33%;
    border-left: 2px solid #eee;
    border-right: 2px solid #eee;
    min-width: 285px;
    min-height: 85px;
    border-radius: 6px;
}

.nextStepCon {
    text-align: left;
}

.allActionCon {
    position: relative;
    top: 0;
    border-left: 0;
}

.top_title {
    position: static;
    background-color: #111;
    color: #fff;
    height: 50px;
    text-align: center;
}

.filter {
    margin: 10px;
}

.addressList {
    margin: 10px 10px 0 10px;
}

.list_base_con {
    border: 0;
    border-top: 1px solid #ddd;
    border-radius: 0px;
}

.list_base_con > .list_base_item {
    border-radius: 4px;
    border: 0;
    float: left;
    margin: 8px 8px 0 0;
    min-height: 100px;
    text-align: center;
    background-color: #fff;
}

.list_base_con > .list_base_item > .icon {
    font-size: 35px;
    padding: 10px 0;
    position: static;
}

.goCart {
    position: fixed;
    right: 0px;
    left: 150px;
    height: 46px;
    bottom: 0px;
    background-color: #293038;
    z-index: 2;
    opacity: 0.8;
}

.goCart > .item {
    height: 100%;
    padding: 12px;
    text-align: center;

}

.goCart > .ok {
    width: 100px;
}

.listCount {
    padding: 10px 14px;
}

.queryProductInput {
    text-align: center;
    position: relative;
    margin: 0 10px;
    box-shadow: 0 0 0;
}

.queryProductInput > input {
    width: 500px;
}

.queryProductInput_close {

}

.top_left > .item {
    float: left;
    padding: 10px 4px 10px 10px;
}

.top_left > .item.bu {
    padding-top: 12px;
    padding-left: 10px;
}

/*新添加的*/

.title_section {
    max-width: 900px;
    margin: 40px auto 10px;
}


